include ropchain/libropchain.so
include ropchain/ffi/waf
include ropchain/ffi/wscript
include ropchain/ffi/src/executable/wscript
include ropchain/ffi/src/python_module/wscript
recursive-include ropchain/ *.cpp
recursive-include ropchain/ *.h
recursive-include ropchain/ *.hpp
